PORT=3000

DB_USER="zet"
DB_PASSWORD="your-secure-password" 
DB_NAME="grav_db"
DATABASE_URL="postgresql://zet:your-secure-password@db:5432/grav_db?schema=public"

# JWT Config
JWT_SECRET="your-secret-key-here" 
JWT_EXPIRES_IN="1d"